#div1{
    margin: auto;
    text-align: center;
    border: 3px;
    font-size: 30px;
    background-color: cadetblue;
    height: 300px;
    width: 300px;
    position: relative;
}

#div3 {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: 3px;
    font-size: 30px;
    background-color: rgb(58, 66, 177);
    height: 300px;
    width: 300px;
    position: relative;
    padding-top: 1rem;
}
#img1{
    height: 250px;
    width: 250px;
    opacity: 0.4;
    position: absolute;
}